<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_ntL-VSsD78e4hAKRPXW8DVqbYz2Jbjk</string>
	<key>GCM_SENDER_ID</key>
	<string>824149777347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dingdong.HelloKorea</string>
	<key>PROJECT_ID</key>
	<string>hellokorea-97197</string>
	<key>STORAGE_BUCKET</key>
	<string>hellokorea-97197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824149777347:ios:047eea21cf508db780fb76</string>
</dict>
</plist>